.recipe-image {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe-details {
  width: 1000px;
}
