/* TODO: Add sitewide styles */
.dark {
  background-color: #2d2424;
  color: #e1c398;
  border-color: #e1c398;
}

.dark-text {
  text-decoration: none;
  color: #e1c398;
}

.dark-primary {
  background-color: #e1c398;
  color: #2d2424;
  border-color: #2d2424;
}

.dark-primary-text {
  text-decoration: none;
  color: #e1c398;
}

.dark-secondary {
  background-color: #5c3e2e;
  color: #e1c398;
  border-color: #e1c398;
}

.dark-secondary-text {
  text-decoration: none;
  color: #5c3e2e;
}

.dark-accent {
  background-color: #b75c38;
  color: #e1c398;
  border-color: #e1c398;
}

.dark-accent-text {
  text-decoration: underline;
  color: #b75c38;
}

.dark-accent-text:hover {
  cursor: pointer;
  background-color: #b75c38;
  color: #e1c398;
  border-color: #e1c398;
  transition: 0.25s;
}

.light {
  background-color: #dbd2d2;
  color: #67481e;
  border-color: #67481e;
}

.light-primary {
  background-color: #67481e;
  color: #dbd2d2;
  border-color: #dbd2d2;
}

.light-secondary {
  background-color: #d1b3a3;
  color: #67481e;
  border-color: #67481e;
}

.light-accent {
  background-color: #c76c48;
  color: #e1c398;
  border-color: #e1c398;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#logo {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

#footer {
  height: auto;
  width: 100%;
  display: flex;
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 10px;
}
