/* TODO: Add sitewide styles */
.dark {
  background-color: #3f1d38;
  color: #a2678a;
  border-color: #a2678a;
}

.dark-text {
  text-decoration: none;
  color: #a2678a;
}

.dark-primary {
  background-color: #a2678a;
  color: #3f1d38;
  border-color: #3f1d38;
}

.dark-primary-text {
  text-decoration: none;
  color: #a2678a;
}

.dark-secondary {
  background-color: #e19898;
  color: #3f1d38;
  border-color: #3f1d38;
}

.dark-secondary-text {
  text-decoration: none;
  color: #e19898;
}

.dark-accent {
  background-color: #4c3c77;
  color: #a2678a;
  border-color: #a2678a;
}

.dark-accent-text {
  text-decoration: underline;
  color: #4c3c77;
}

.dark-accent-text:hover {
  cursor: pointer;
  background-color: #4c3c77;
  color: #a2678a;
  border-color: #a2678a;
  transition: 0.25s;
}

.light {
  background-color: #e2c0db;
  color: #985d80;
  border-color: #985d80;
}

.light-primary {
  background-color: #985d80;
  color: #e2c0db;
  border-color: #e2c0db;
}

.light-secondary {
  background-color: #671e1e;
  color: #e2c0db;
  border-color: #e2c0db;
}

.light-accent {
  background-color: #9888c3;
  color: #a2678a;
  border-color: #a2678a;
}
